<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>lio-mern</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <div id="nav" class="div fixed-top container my-4 navb">
      <div class="menu pt-3">
        <a href="/" class="logo"><h4>LIOmern</h4></a>
        <ul>
          <a href="/  "><li>feed</li></a>
          <a href="/signup"><li>your posts</li></a>
          <a href="/signup"><li>profile</li></a>
        </ul>
        <a href="/signup" class="btn logou mx-2 ">Join </a>
        <div onclick="hello()" class="m-bt py-3">Menu</div>
      </div>
    </div>

    <hr />
    <h1 class="my-5 wtl text-center">Welcome To LIOmern</h1>
    <hr />
    <div class="section my-4">
      <div class="box my-4 mx-2">
        <img
          src="https://images.unsplash.com/photo-1604514628550-37477afdf4e3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWxzfGVufDB8fDB8fHww"
          alt=""
        />
        <p class="m-2">AYKUT AKTAS</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://images.unsplash.com/photo-1564485377539-4af72d1f6a2f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fG1vZGVsc3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
        <p class="m-2">Olag ovalvov</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/68/47/95/68479550a4b865a0af3e61e652fe4afe.jpg"
          alt=""
        />
        <p class="m-2">Frough</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/d4/d0/4f/d4d04fa157e3f641b55534e8d7c7d0c9.jpg"
          alt=""
        />
        <p class="m-2">Antonio Screams</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/736x/e2/86/19/e28619d4e3a37df496b24742bfe0f8fb.jpg"
          alt=""
        />
        <p class="m-2">Vii.exe</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/23/72/f3/2372f32409405fe0b041ddec72a21f08.jpg"
          alt=""
        />
        <p class="m-2">Victor Emanuel</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/a3/f0/fb/a3f0fbc8a390d9012c55ac34e8db27fa.jpg"
          alt=""
        />
        <p class="m-2">Umer khan</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://images.unsplash.com/photo-1619042220193-1764e5a87fce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTV8fG1vZGVsc3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
        <p class="m-2">Alma</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/69/e8/15/69e815e84c4fea7e236ee3be728475aa.jpg"
          alt=""
        />
        <p class="m-2">SakuAtsu Oneshots</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/ec/40/7e/ec407e444fad754e8ef38a07f521082d.jpg"
          alt=""
        />
        <p class="m-2">Clark Tibs</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/76/b2/31/76b231bc4553a28f487cb46a3b8e893d.jpg"
          alt=""
        />
        <p class="m-2">Jade Black</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://images.unsplash.com/photo-1573241380121-b9905fea62f3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHJvc2V8ZW58MHx8MHx8fDA%3D"
          alt=""
        />
        <p class="m-2">Vadim Sadovski</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YWVzdGhldGljJTIwcG9zdHN8ZW58MHx8MHx8fDA%3D"
          alt=""
        />
        <p class="m-2">zhengtao tang</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/72/d7/bc/72d7bc72d3c0edda371b8dd22781a4da.jpg"
          alt=""
        />
        <p class="m-2">Buse xd</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/20/eb/8f/20eb8f8cae609d828d7a42f8d39547d6.jpg"
          alt=""
        />
        <p class="m-2">Holosomnia</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/85/96/e7/8596e701d54f6f3caf938bf7f60425ec.jpg"
          alt=""
        />
        <p class="m-2">Prajwal raute</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://i.pinimg.com/236x/07/ab/dd/07abdde1be892f7cf96851eec416b07f.jpg"
          alt=""
        />
        <p class="m-2">Lie thistle</p>
      </div>
      <div class="box my-4 mx-2">
        <img
          src="https://images.unsplash.com/photo-1616536864526-b6521cca81b7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fG1vZGVsc3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
        <p class="m-2">Danijel Škabić</p>
      </div>
    </div>
    <hr />
    <div class="viewall">
      <h3 class="my-5 text-center">
        <a  href="/signup"> View more Posts...?</a>
      </h3>
    </div>



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/demo.js"></script>
  </body>
</html>
